<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruan.agenda">

    <!-- Permissão para habilitar a chamada telefônica -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Permissão para ler um arquivo do celular (depois de tirar foto) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permissão para receber SMS do telefone -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListaAlunosActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormularioActivity" android:label="Formulario">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- Foi necessário criar esse provider para poder ter acesso ao caminho que a câmera
        salvaria a imagem -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- é necessário registrar o Receiver no AndroidManifest -->
        <receiver android:name=".receiver.SMSReceiver" >
            <!-- Estamos definindo qual evento de sistema queremos que acione nosso receiver -->
            <intent-filter>
                <!-- A ação de SMS_RECEIVED está associado ao nosso Receiver -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>